html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper_blue {
  background-color: #2d303a;
}

.wrapper_gray {
  background-color: #f2f2f2;
}

.line {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;
  height: 6px;
  border: none;
}

.line_dark-blue {
  background-color: #323746;
}

.line_white {
  background-color: #ffffff;
}

.header {
  font-weight: 900;
  letter-spacing: -0.1px;
  font-size: 30px;
  margin: 0;
}

.portfolio {
  color: #5e657e;
  height: 864px;
  overflow: hidden;
}

.portfolio__header {
  padding-top: 60px;
}

.portfolio__text {
  padding-top: 21px;
}

.portfolio__tags {
  margin-top: 14px;
  margin-left: 1px;
}

.portfolio__image {
  width: 220px;
  height: 187px;
}

.portfolio__images {
  margin-top: 23px;
}

.text {
  font-weight: 300;
  font-size: 19px;
  margin: 0;
  letter-spacing: -0.4px;
}

.tag {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #5e657e;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 6px 3px 7px;
  margin-right: 6px;
  -webkit-transition: border 0.5s, color 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, color 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, color 0.5s, box-shadow 0.5s;
  transition: border 0.5s, color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.tag:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 10px -3px white;
          box-shadow: inset 0px 0px 10px -3px white;
}

.layout-4-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.about-us {
  height: 728px;
  color: #666d89;
}

.about-us__header {
  padding-top: 59px;
}

.about-us__text {
  margin-top: 18px;
  line-height: 1.6;
}

.layout-3-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 19px;
  grid-row-gap: 0px;
}

.workers {
  margin-top: 45px;
}

.workers__person {
  max-width: 300px;
}

.workers__name {
  max-height: 22px;
  max-width: 300px;
  margin: 12px 0 0 0px;
  letter-spacing: -0.1px;
  font-size: 18px;
  overflow: hidden;
  font-weight: 900;
}

.workers__text {
  font-size: 13px;
  margin-top: 9px;
  line-height: 1.6;
}

.workers__contacts {
  display: inline-block;
  margin-top: 25px;
  margin-left: 1px;
}

.link {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid #666d89;
  border-radius: 50%;
  -webkit-transition: border 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, box-shadow 0.5s;
  transition: border 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.link:hover {
  border: 1px solid #eb9c0b;
  -webkit-box-shadow: inset 0px 0px 10px -3px black;
          box-shadow: inset 0px 0px 10px -3px black;
}

.link_fb {
  background-image: url(./assets/icon/socials/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link_google-plus {
  background-image: url(./assets/icon/socials/google+.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link_twitter {
  background-image: url(./assets/icon/socials/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link_linked-in {
  background-image: url(./assets/icon/socials/linkedin.png);
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=singolo2.css.map */