@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  left: 0;
  top: 0;
}

.header {
  max-width: 1020px;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #2d303a;
  height: 89px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__element {
  display: inline-block;
}

.menu__element::before {
  content: '·';
  color: #424657;
  margin-left: 9px;
  margin-right: 9px;
}

.menu__ref {
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu__ref:hover {
  color: #f06c64;
}

.menu__element:first-child::before {
  content: '';
}

.logo {
  cursor: pointer;
  padding-top: 27px;
  font-size: 27px;
  letter-spacing: -1.9px;
}

.logo__logotype {
  text-transform: uppercase;
}

.logo__red-star {
  color: #f06c64;
}

.line {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;
  height: 6px;
  border: none;
}

.line_blue {
  background-color: #323746;
}

.line_white {
  background-color: #FFFFFF;
}

.line_pink {
  background-color: #ea676b;
}

.text {
  font-weight: 300;
  font-size: 19px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: -0.4px;
}

.slider {
  max-width: 1020px;
  margin: 0 auto;
  height: 594px;
  position: relative;
  background-color: #f06c64;
}

.slider__arrow {
  cursor: pointer;
  position: absolute;
  height: 27px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 281px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider__arrow:hover {
  -webkit-box-shadow: 0px 0px 14px -4px white;
          box-shadow: 0px 0px 14px -4px white;
  border-radius: 5px;
}

.slider__arrow:nth-child(1) {
  background-image: url(./assets/icon/chevl.png);
  left: 42px;
}

.slider__arrow:nth-child(2) {
  background-image: url(./assets/icon/chevr.png);
  right: 40px;
}

.vertical-phone {
  position: absolute;
  height: 483px;
  width: 240px;
  background-image: url(./assets/img/PhoneVertical.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 53px;
  left: 112px;
  z-index: 1;
}

.first-phone-image {
  z-index: 2;
  position: absolute;
  width: 188px;
  height: 333px;
  top: 118px;
  left: 126px;
  background-image: url(./assets/img/wall1.png);
  background-repeat: no-repeat;
  background-position: -14px -135px;
}

.horizontal-phone {
  position: absolute;
  height: 240px;
  width: 484px;
  background-image: url(./assets/img/HorizontalPhone.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 174px;
  left: 425px;
  z-index: 1;
}

.second-phone-image {
  z-index: 2;
  position: absolute;
  width: 333px;
  height: 188px;
  top: 188px;
  left: 485px;
  background-image: url(./assets/img/wall2.png);
  background-repeat: no-repeat;
  background-position: -125px -119px;
}

.service {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #f2f2f2;
  height: 494px;
  color: #666d89;
}

.service__text {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  padding-top: 17px;
  line-height: 1.7;
  text-align: justify;
}

.service__article {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
}

.service__headline {
  font-weight: 900;
  margin: 0;
  padding: 0;
  letter-spacing: -0.4px;
}

.service__icon-description {
  font-weight: 400;
  margin: 0;
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.8;
  max-height: 63px;
  overflow: auto;
  text-align: justify;
}

.service__badges {
  margin-top: 47px;
}

.service__article:nth-child(3n) .service__headline {
  margin-left: 2px;
}

.icon {
  width: 59px;
  height: 59px;
  display: inline-block;
  margin-right: 20px;
}

.icon_pen {
  background-image: url(./assets/icon/pen.png);
  position: relative;
  margin-left: 1px;
}

.icon_bulb {
  background-image: url(./assets/icon/bulb.png);
}

.icon_heart {
  background-image: url(./assets/icon/heart.png);
  position: relative;
}

.icon_phone {
  background-image: url(./assets/icon/phone.png);
  position: relative;
  margin-left: 1px;
}

.icon_bubble {
  background-image: url(./assets/icon/bubble.png);
}

.icon_star {
  background-image: url(./assets/icon/star.png);
  position: relative;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.our-services {
  padding: 0;
  margin: 0;
  padding-top: 58px;
  font-size: 31px;
  font-weight: 900;
  letter-spacing: -0.7px;
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.properties-container {
  max-width: 220px;
  margin-top: -4px;
}

.our-services {
  padding: 0;
  margin: 0;
  padding-top: 58px;
  font-size: 31px;
  font-weight: 900;
  letter-spacing: -0.7px;
}

.properties-container {
  max-width: 220px;
  margin-top: -4px;
}

.portfolio {
  color: #5e657e;
  height: 863px;
  max-width: 1020px;
  margin: 0 auto;
  background-color: #2d303a;
}

.portfolio__header {
  padding-top: 59px;
  letter-spacing: 0.1px;
  margin: 0;
  font-weight: 800;
  font-size: 30px;
}

.portfolio__text {
  margin: 16px 0 0 0;
}

.portfolio__tags {
  margin-top: 10px;
  margin-left: 1px;
}

.portfolio__image {
  width: 220px;
  height: 187px;
}

.portfolio__images {
  margin: 23px 0 0 0;
}

.portfolio__image:nth-child(1n+13) {
  display: none;
}

.headline {
  font-size: 31px;
  font-weight: 900;
  letter-spacing: -0.7px;
}

.tag {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #5e657e;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 6px 3px 7px;
  margin-right: 7px;
  -webkit-transition: border 0.5s, color 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, color 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, color 0.5s, box-shadow 0.5s;
  transition: border 0.5s, color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.tag:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 10px -3px white;
          box-shadow: inset 0px 0px 10px -3px white;
}

.tag:nth-child(2) {
  padding: 2px 5px 3px 7px;
}

.tag:nth-child(3) {
  padding: 2px 4px 3px 7px;
}

.tag:nth-child(4) {
  padding: 2px 3px 3px 7px;
}

.layout-4-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.about-us {
  height: 728px;
  color: #666d89;
  max-width: 1020px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.about-us__header {
  padding-top: 58px;
  margin: 0 0 0 0px;
}

.about-us__text {
  margin: 17px 0 0 0;
}

.workers {
  margin: 45px 0 0 0;
}

.workers__person {
  max-width: 300px;
}

.workers__name {
  max-height: 22px;
  max-width: 300px;
  margin: 12px 0 0 0px;
  letter-spacing: -0.1px;
  font-size: 18px;
  overflow: hidden;
  font-weight: 900;
}

.workers__text {
  font-size: 12px;
  margin: 8px 0 0 0;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.1px;
}

.workers__contacts {
  display: inline-block;
  margin-top: 24px;
  margin-left: 1px;
}

.workers__person:nth-child(2) > .workers__avatar {
  margin-left: -1px;
}

.workers__person:not(:first-child) > .workers__contacts {
  margin-left: 0px;
}

.link {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 1px solid #666d89;
  border-radius: 50%;
  -webkit-transition: border 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, -webkit-box-shadow 0.5s;
  transition: border 0.5s, box-shadow 0.5s;
  transition: border 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.link:hover {
  border: 1px solid #eb9c0b;
  -webkit-box-shadow: inset 0px 0px 10px -3px black;
          box-shadow: inset 0px 0px 10px -3px black;
}

.link_fb {
  background-image: url(./assets/icon/socials/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link_google-plus {
  background-image: url(./assets/icon/socials/google+.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link_twitter {
  background-image: url(./assets/icon/socials/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link_linked-in {
  background-image: url(./assets/icon/socials/linkedin.png);
  background-position: center;
  background-repeat: no-repeat;
}

.get-a-quote {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #f06c64;
  color: #f0d8d9;
}

.get-a-quote__header {
  padding: 58px 0 0 0;
  margin: 0;
}

.get-a-quote__text {
  margin: 17px 0 0 0;
  letter-spacing: -0.41px;
}

.layout-2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 41px 0 0 0;
}

.form {
  width: 619px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3px;
}

.form__name::-webkit-input-placeholder, .form__email::-webkit-input-placeholder, .form__subject::-webkit-input-placeholder, .form__describe-area::-webkit-input-placeholder, .form__button::-webkit-input-placeholder, .form__button {
  color: #f48c8f;
  font-size: 12px;
  font-family: 'Lato', Verdana, sans-serif;
  line-height: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__name:-ms-input-placeholder, .form__email:-ms-input-placeholder, .form__subject:-ms-input-placeholder, .form__describe-area:-ms-input-placeholder, .form__button:-ms-input-placeholder, .form__button {
  color: #f48c8f;
  font-size: 12px;
  font-family: 'Lato', Verdana, sans-serif;
  line-height: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__name::-ms-input-placeholder, .form__email::-ms-input-placeholder, .form__subject::-ms-input-placeholder, .form__describe-area::-ms-input-placeholder, .form__button::-ms-input-placeholder, .form__button {
  color: #f48c8f;
  font-size: 12px;
  font-family: 'Lato', Verdana, sans-serif;
  line-height: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__name::placeholder, .form__email::placeholder, .form__subject::placeholder, .form__describe-area::placeholder, .form__button::placeholder, .form__button {
  color: #f48c8f;
  font-size: 12px;
  font-family: 'Lato', Verdana, sans-serif;
  line-height: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__button:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 10px -3px white;
          box-shadow: inset 0px 0px 10px -3px white;
}

.form__name, .form__email, .form__subject, .form__describe-area, .form__button {
  border-radius: 5px;
  border: none;
  resize: none;
  padding: 11px 15px 12px 15px;
  background-color: #d6564f;
  margin: 0 0 16px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form .form__subject {
  margin-bottom: 14px;
}

.form .form__describe-area {
  height: 202px;
  margin-top: 2px;
  padding-top: 12px;
}

.contacts {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__information {
  margin: 1px 0 0 0;
  letter-spacing: -0.3px;
}

.contacts__text {
  margin: 8px 0 19px 0;
  font-size: 12px;
  text-align: justify;
  line-height: 22px;
  letter-spacing: -0.1px;
}

.contacts__location, .contacts__phone, .contacts__email {
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: 19px;
  margin-left: 7px;
  letter-spacing: 0.05px;
}

.contacts__icon-location, .contacts__icon-phone, .contacts__icon-mail {
  display: inline-block;
}

.contacts__icon-location {
  width: 13px;
  height: 11px;
  background-image: url(./assets/icon/contacts/location.png);
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: center;
}

.contacts__icon-phone {
  width: 13px;
  height: 11px;
  background-image: url(./assets/icon/contacts/phone.png);
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: center;
}

.contacts__icon-mail {
  width: 13px;
  height: 11px;
  background-image: url(./assets/icon/contacts/mail.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contacts__line:last-child {
  margin: 1px 0 0 0;
}

.footer {
  width: 1020px;
  margin: 0 auto;
  background-color: #2d303a;
  height: 76px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials {
  margin: 22px -6px 0px 0px;
}

.copyright {
  color: #666d89;
  font-family: 'Myriad', Verdana, sans-serif;
  font-size: 11px;
  margin: 23px 0 0 1px;
  letter-spacing: -0.6px;
}

.line {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;
  height: 6px;
  border: none;
}

.line_blue {
  background-color: #323746;
}

.line_white {
  background-color: #FFFFFF;
}

.line_pink {
  background-color: #ea676b;
}
/*# sourceMappingURL=style.css.map */